---
---
$content-width:    900px !default;
$on-palm:          600px !default;
$on-laptop:        900px !default;

@import "minima";

// Logo before the site title
.site-title:before
{
    content: url("/assets/logo.png");
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: sub;
    padding: 0 8px 0 0;
}

#banner
{
    width: 100%;
    margin-top: -26px;
    padding-bottom: 20px;
}

.post-header
{
    display: none;
}

// Pseudo <hr> under every <h2>
h2
{
    border-bottom: 1px solid #ccc;
}

// Centre all images
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Prevent horizontal scrollbar appearing
html, body
{
    overflow-x: hidden;
}

// Trick/hack to escape a parent element;
// centre left hand edge in parent, then apply left hand margin of -50% viewport
.full-width
{
	width: 100vw;
	position: relative;
	left: 50%;
	margin-left: -50vw;
}

// Hide the banner when on mobile
@media (max-width: $on-palm)
{
    .full-width
    {
        display: none !important;
    }
}

.donate
{
    text-align: center;
}

.downloads
{
    text-align: center;
    margin-bottom: 10px;
}

.download-button-wrapper
{
    display: inline-block;
}

.download-button
{
    display: inline;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background: #FFCC00;
    white-space: nowrap;
}

.license
{
    $width: 0.8;
    width: $width * 100%;
    height: 400px;
    white-space: pre;
    font-family: monospace;
    font-size: $content-width * $width * 0.02;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    overflow-y: scroll;
}

@media (max-width: $on-palm)
{
    .license
    {
        width: 100%;
        height: 200px;
        font-size: 2vw;
    }
}

.caption
{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-style: italic;
    font-size: 12px;
}
